$borderColor: #000;
$imageButtonBackground: #000;
$buttonLinkColor: #fff;
$buttonColor: #fff;
$hoverColor: #5a3149;
$mainTextColor: #fff;
$outlineColor: #000;
$greenOne: #315a42;
$brownOne: #5a5731;
$blueOne: #31355a;
$purpleOne: #6f57c9;
$purpleTwo: #282339;
$backgroundPrimary: $purpleTwo;
$backgroundSecondary: $purpleOne;
