.footer {
  margin: 0;
  padding-top: 20px;
  text-align: center;
  width: 100%;
  color: $mainTextColor;
  background-color: $backgroundSecondary;

  .companyName {
    font-weight: bold;
  }

  .social-links {
    display: flex;
    a {
      display: inline-block;
      padding: 5px 20px;
      justify-content: center;
      transition: transform 0.5s;

      &:focus,
      &:hover {
        background-color: $hoverColor;
        color: $buttonLinkColor;
        outline: 2px solid $outlineColor;
        outline-offset: 2px;
        transform: scale(0.8);
      }
    }
  }
}
