@import "variables", "mainStyles", "mediaQueries";

footer {
    margin: 0vh;
    padding: 1vh;
    text-align: center;
    width: 100%;
    color: $mainTextColor;
  }
  
  footer a {
    padding: 0.4vh;
    color: $hoverColor;
  }
