footer {
  margin: 0;
  padding: 1vh;
  text-align: center;
  width: 100%;
  color: $mainTextColor;

  .social-links {
  a {
    display: inline-block; 
    padding: 3vh;
    vertical-align: middle; 

    &:focus,
    &:hover {
      background-color: $hoverColor !important;
      color: $buttonLinkColor !important;
      outline: 2px solid #000;
      outline-offset: 2px;
    }
}
}

  .copyright {
    padding-top: 1vh;
  }
}

//   @media (max-width: 600px) {
//   }

//   @media (min-width: 601px) and (max-width: 900px) {
//   }









