footer {
  margin: 0;
  text-align: center;
  width: 100%;
  color: $mainTextColor;
  background-color: #5a5731;
  border: outset #5a5731;
  margin: 0;
  text-align: center;
  row-gap: 1rem !important;

  .social-links {
    a {
      display: inline-block;
      padding: 10px;
      margin: 10px;
      vertical-align: middle;
      transition: transform 0.2s;
      &:focus,
      &:hover {
        background-color: $hoverColor;
        color: $buttonLinkColor;
        outline: 2px solid #000;
        outline-offset: 2px;
        transform: scale(1.1);
      }
    }
  }

  p {
    padding: 0px;
  }

  #miramoopLogo {
    margin: 0;

    @media screen and (max-width: 600px) {
      max-width: 150px;
    }
  }
}
