header {
    align-items: center;
    color: $mainTextColor;
    display: block;
    margin: 0;
    overflow: hidden;
    text-align: center;
    width: 100%;
    padding-bottom: 10px;
    
    h1 {
        font-size: 30px;
        font-weight: bold;
    }
}