header {
  .navbar {
    background: $mainBlueColor;
    border: inset $mainBlueColor;
  }

  .header-navigation-bar-button {
    padding: 3vh;
    vertical-align: middle;

    &:focus,
    &:hover {
      background-color: $hoverColor;
      color: $buttonLinkColor;
      outline: 2px solid #000;
      outline-offset: 2px;
    }
  }

  .menu-item {
    a {
      display: inline-block;
      padding: 3vh;
      vertical-align: middle;

      &:focus,
      &:hover {
        background-color: $hoverColor;
        color: $buttonLinkColor;
        outline: 2px solid #000;
        outline-offset: 2px;
      }
    }
  }

  #headerLogo {
    margin: 0;
    max-width: 100px;
  }

  .dropdown-content {
    position: absolute;
    top: 110%;
    background-color: $mainBlueColor;
  }
}