header {
  .navbar {
    background: $mainBlueColor;
    border: inset $mainBlueColor;
  }

  .header-navigation-bar-button {
    padding: 10px;
    vertical-align: middle;
    transition: transform 0.2s;
    &:focus,
    &:hover {
      background-color: $hoverColor;
      color: $buttonLinkColor;
      outline: 2px solid #000;
      outline-offset: 2px;
      transform: scale(1.1);
    }
  }

  .dropdown-content {
    position: absolute;
    top: 110%;
    right: -11px;
    background-color: #31355a;
  }

  .menu-item {
    a {
      display: inline-block;
      padding: 20px;
      margin: 10px;
      vertical-align: middle;
      transition: transform 0.2s;
      &:focus,
      &:hover {
        background-color: $hoverColor;
        color: $buttonLinkColor;
        outline: 2px solid #000;
        outline-offset: 2px;
        transform: scale(1.1);
      }
    }
  }

  .handleResetQuiz {
    #headerLogo {
      margin: 0;
      max-width: 100px;
      transition: transform 0.2s;
    }

    .dropdown-content {
      position: absolute;
      top: 110%;
      background-color: $mainBlueColor;
    }
  }
}
