#home {
  text-align: center;
  width: 100%;
  color: $mainTextColor;

  h2 {
    font-size: 20px;
    padding-bottom: 10px;
  }

.navigation-button {
  align-items: center;
  background: $buttonLinkColor;
  border-radius: 10px;
  padding: 3vh;
  transition-duration: 0.4s;

  &:focus,
  &:hover {
    background-color: $hoverColor;
    color: $buttonLinkColor;
    outline: 2px solid black;
    outline-offset: 2px;
  }
}
}

