#home {
  text-align: center;
  width: 100%;
  color: $mainTextColor;
}

.hero {
  min-height: 75vh;
}

#startQuizButton {
  align-items: center;
  outline: 2px solid $outlineColor;
  background: $buttonColor;
  border-radius: 10px;
  padding: 3vh;
  transition-duration: 0.4s;

  &:focus,
  &:hover {
    background-color: $hoverColor;
    color: $buttonLinkColor;
    outline: 2px solid $outlineColor;
    outline-offset: 2px;
  }
}
