@import "variables", "mainStyles", "mediaQueries";

#home {
  text-align: center;
  width: 100%;
}

#headerLogo {
  max-width: 15vh;
}

.navigation-button {
  align-items: center;
  background: $buttonLinkColor !important;
  border-radius: 10px;
  padding: 3vh;
  transition-duration: 0.4s;

  &:focus,
  &:hover {
    background-color: $hoverColor !important;
    color: $buttonLinkColor !important;
    outline: 2px solid #000;
    outline-offset: 2px;
  }
}
