@import "variables", "mainStyles", "mediaQueries";

#questionImage,
#progressImage {
  border-color: var(--border-color);
  border-radius: 10px;
  border-style: outset;
}

#progressImage {
  border-style: inset;
}

.choices {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
  }
  
  .choices button {
    max-width: 300px;
  }