#results {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.card {
  background-color: #000;
}

figure {
  img {
    margin: 10;
  }
}

p,
h2,
a,
button {
  color: $mainTextColor;
}

#buttonHolder,
#resultsSection .videoContent {
  align-content: space-between;
}

.videoContent {
  padding: 5px;
}

.video-container {
  max-width: 560px;
  margin: auto;

  iframe {
    width: 100%;
    height: auto;
  }
}
#spotifyContent {
  padding: 5px;
}

.btn-primary {
  background-color: $brightPurpleColor;
  border-color: none;
  color: $mainTextColor;
  font-weight: normal;
  padding: 10px;
  transition: transform 0.2s;
  &:focus,
  &:hover {
    background-color: $hoverColor;
    color: $buttonLinkColor;
    outline: 2px solid #fff;
    outline-offset: 2px;
    transform: scale(1.1);
  }
}

@media screen and (min-width: 768px) {
  .video-container iframe {
    width: 560px;
    height: 315px;
  }
}

@media screen and (min-width: 1400px) {
  #results {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    text-align: center;
  }
}
