@import "./tailwind.css";
@import "daisyui/dist/full.css";
* {
  box-sizing: border-box;
  font-family: "Lucida Console", "Courier New", monospace;
  scroll-behavior: smooth;
}

body {
  background: lightgoldenrodyellow;
  background-image: linear-gradient(180deg, #282339, #6f57c9);
  display: flex;
  flex-direction: column;
  margin: 0vh;
  min-height: 100vh;
}

img {
  align-items: center;
  display: block;
  height: auto;
  margin: 2vh auto;
  max-width: 100%;
}

#quiz,
#questionText,
#choicesText,
#choices,
#quizComplete,
#errorScreen,
#completeTextContainer {
  align-items: center;
  padding: 1vh;
  text-align: center;
  width: 100%;
}

#errorContainer {
  padding-bottom: 3vh;
}

header .navbar {
  background: #282339;
}
header .header-navigation-bar-button {
  padding: 10px;
  vertical-align: middle;
  transition: transform 0.2s;
}
header .header-navigation-bar-button:focus, header .header-navigation-bar-button:hover {
  background-color: #5a3149;
  color: #fff;
  outline: 2px solid #000;
  outline-offset: 2px;
  transform: scale(1.1);
}
header .dropdown-content {
  position: absolute;
  top: 110%;
  right: -11px;
  background-color: #282339;
}
header .menu-item a {
  display: inline-block;
  padding: 20px;
  margin: 10px;
  vertical-align: middle;
  transition: transform 0.2s;
}
header .menu-item a:focus, header .menu-item a:hover {
  background-color: #5a3149;
  color: #fff;
  outline: 2px solid #000;
  outline-offset: 2px;
  transform: scale(1.1);
}
header .handleResetQuiz #headerLogo {
  margin: 0;
  max-width: 100px;
  transition: transform 0.2s;
}
header .handleResetQuiz:focus, header .handleResetQuiz:hover {
  transform: scale(1.1);
}

.footer {
  margin: 0;
  padding: 10px 0;
  text-align: center;
  width: 100%;
  color: #fff;
  row-gap: 1rem;
}
.footer .companyName {
  font-weight: bold;
}
.footer .social-links {
  display: flex;
}
.footer .social-links a {
  display: inline-block;
  padding: 10px 10px;
  justify-content: center;
  transition: transform 0.5s;
}
.footer .social-links a:focus, .footer .social-links a:hover {
  background-color: #5a3149;
  color: #fff;
  outline: 2px solid #000;
  outline-offset: 2px;
  transform: scale(0.8);
}

#home {
  text-align: center;
  width: 100%;
  color: #fff;
}

.hero {
  min-height: 75vh;
}

#startQuizButton {
  align-items: center;
  outline: 2px solid #000;
  font-weight: bold;
  color: #000;
  background: #cfcbcb;
  border-radius: 10px;
  padding: 3vh;
  transition-duration: 0.4s;
}
#startQuizButton:focus, #startQuizButton:hover {
  background-color: #5a3149;
  color: #fff;
  outline: 2px solid #000;
  outline-offset: 2px;
}

#quiz {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 800px;
  height: 100vh;
  margin: 0 auto;
}

#questionText {
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #000;
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 8px;
}

.choices {
  display: grid;
  gap: 10px;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 20px;
}
@media (max-width: 600px) {
  .choices {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 601px) and (max-width: 900px) {
  .choices {
    grid-template-columns: repeat(2, 1fr);
  }
}

.MuiButtonBase-root {
  position: relative;
  height: 200px;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  transition: background-color 0.3s;
}
.MuiButtonBase-root:hover, .MuiButtonBase-root.Mui-focusVisible {
  z-index: 1;
}
.MuiButtonBase-root:hover .MuiImageBackdrop-root, .MuiButtonBase-root.Mui-focusVisible .MuiImageBackdrop-root {
  opacity: 0.15;
}
.MuiButtonBase-root:hover .MuiImageMarked-root, .MuiButtonBase-root.Mui-focusVisible .MuiImageMarked-root {
  opacity: 0;
}
.MuiButtonBase-root:hover .MuiTypography-root, .MuiButtonBase-root.Mui-focusVisible .MuiTypography-root {
  border: 4px solid currentColor;
}

.image-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: 0;
}

.image-overlay {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
  color: #fff;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
}

.image-text {
  padding: 10px;
  border-radius: 4px;
  background: white;
  color: black;
}

.quiz-navigation {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.quiz-navigation .navigation-button {
  align-items: center;
  background: #fff;
  border-radius: 10px;
  padding: 3vh;
  transition-duration: 0.4s;
  margin: 0 10px;
  color: #000;
  font-weight: bold;
}
.quiz-navigation .navigation-button:focus, .quiz-navigation .navigation-button:hover {
  background-color: #5a3149;
  color: #fff;
  outline: 2px solid #000;
  outline-offset: 2px;
}

.steps {
  visibility: hidden;
  padding: 10px;
}

@media screen and (min-width: 600px) {
  .steps {
    visibility: visible;
    transform: scale(0.8);
  }
}
@media screen and (min-width: 800px) {
  .steps {
    visibility: visible;
    transform: scale(1);
  }
}
@media screen and (min-width: 1400px) {
  .steps {
    visibility: visible;
    transform: scale(1.2);
  }
}
#quizComplete {
  text-align: center;
  width: 100%;
  color: #fff;
}

#calculateResultsButton {
  align-items: center;
  outline: 2px solid #000;
  background: #cfcbcb;
  border-radius: 10px;
  padding: 3vh;
  transition-duration: 0.4s;
  font-weight: bold;
  color: #000;
}
#calculateResultsButton:focus, #calculateResultsButton:hover {
  background-color: #5a3149;
  color: #fff;
  outline: 2px solid #000;
  outline-offset: 2px;
}

p,
h2,
a,
button {
  color: #fff;
}

#buttonHolder {
  display: grid;
  place-items: center;
  margin: 20px 0;
}

#resetQuizButton {
  align-items: center;
  outline: 2px solid #000;
  font-weight: bold;
  color: #000;
  background: #cfcbcb;
  border-radius: 10px;
  padding: 3vh;
  transition-duration: 0.4s;
}
#resetQuizButton:focus, #resetQuizButton:hover {
  background-color: #5a3149;
  color: #fff;
  outline: 2px solid #000;
  outline-offset: 2px;
}

.videoContent {
  padding: 5px;
}

.video-container {
  max-width: 560px;
  margin: auto;
}
.video-container iframe {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 768px) {
  .video-container iframe {
    width: 560px;
    height: 315px;
  }
}
@media screen and (min-width: 1024px) {
  #results {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
  }
}
.mockup {
  margin: 15px;
}

.no-hover-effect:hover {
  cursor: default;
}

.youtube-mockup {
  background-color: #2f4f4f;
}

.main-content {
  background-color: #808080;
}

.header-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.browser-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #00008b;
  padding: 0 1rem;
  box-sizing: border-box;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  overflow: hidden;
}

.browser-toolbar-start,
.browser-toolbar-middle,
.browser-toolbar-end {
  display: flex;
  align-items: center;
}

.browser-toolbar-start {
  justify-content: flex-start;
}

.browser-toolbar-middle {
  flex: 1;
  justify-content: center;
}

.browser-toolbar-end {
  justify-content: flex-end;
}
@media (max-width: 425px) {
  .browser-toolbar-end {
    display: none;
  }
}

.toolbar-icons {
  padding: 10px;
}

.toolbar-icons-end {
  padding: 10px;
}
@media (max-width: 425px) {
  .toolbar-icons-end {
    display: none;
  }
}

.tabs-boxed {
  background-color: transparent !important;
}

.tabs {
  overflow: hidden;
  white-space: nowrap;
}

.tabs ul li {
  padding: 0 12px;
}

.mockup-navbar,
.youtube-mockup-navbar {
  display: flex;
  align-items: center;
  min-height: 3rem;
  width: 100%;
  background-color: #000;
}

.youtube-navbar-icons {
  padding: 5px;
}
@media (max-width: 640px) {
  .youtube-navbar-icons {
    display: none;
  }
}

.youtube-mockup-navbar {
  background-color: #2f4f4f;
}

.mockup-navbar-start,
.youtube-navbar-start {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
}

@media (max-width: 600px) {
  .mockup-navbar-start {
    display: none;
  }
}

@media (max-width: 640px) {
  .mockup-navbar-end {
    display: none;
  }
}

.mockup-navbar-end,
.youtube-navbar-end {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  padding-right: 5px;
  align-items: center;
}

@media (max-width: 640px) {
  .mockup-navbar-end .skeleton,
  .mockup-navbar-end .toolbar-icons {
    display: none;
  }
}

.youtube-navbar-middle {
  width: 100%;
}
@media (max-width: 425px) {
  .youtube-navbar-middle {
    display: none;
  }
}

.mockup-navbar-middle {
  flex: 1;
  display: flex;
  justify-content: center;
}
@media (max-width: 520px) {
  .mockup-navbar-middle {
    display: left;
    width: 80%;
    padding-left: 5px;
  }
}

.address-bar {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 100%;
  height: 2rem;
  padding: 0 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  border-radius: 0.5rem;
  border: 1px solid transparent;
  background-color: #808080;
  color: #fff;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@media (max-width: 1024px) {
  .address-bar {
    width: 90%;
  }
}

.address-bar-search-icon {
  padding-right: 5px;
}

.youtube-search-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
}
@media (max-width: 320px) {
  .youtube-search-wrapper {
    padding-left: 10px;
  }
}

.youtube-search {
  display: flex;
  align-items: center;
  flex: 1;
  background-color: #808080;
  border-radius: 0.5rem;
  border-color: #cfcbcb;
  border-width: 2px;
}
@media (max-width: 375px) {
  .youtube-search {
    display: none;
  }
}

.youtube-search-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #cfcbcb;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: 10px;
}

@media (max-width: 425px) {
  .youtube-icon {
    display: none;
  }
}

.youtube-search-input {
  background: #808080;
  padding: 0px 100px 0px 100px;
  border-radius: 0.5rem;
  color: #fff;
  box-sizing: border-box;
}

.rounded-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #cfcbcb;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: 10px;
}

.mobile-icons {
  display: none;
}
@media (max-width: 425px) {
  .mobile-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #cfcbcb;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 10px;
  }
}

.skeleton {
  border-color: #cfcbcb;
  border-width: 1px;
  background-color: #2f4f4f;
  background-image: linear-gradient(105deg, transparent 0%, transparent 40%, #000 50%, transparent 60%, transparent 100%);
}

.youtube-navbar-skeleton {
  margin: 5px;
}
@media (max-width: 425px) {
  .youtube-navbar-skeleton {
    display: none;
  }
}

.youtube-content-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  background-color: #808080;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.video-section {
  flex: 2;
  padding: 1rem;
}

@media (max-width: 375px) {
  .video-container,
  .youtube-description {
    margin: 5px;
    max-width: 300px;
    overflow: hidden;
  }
}
@media (max-width: 320px) {
  .video-container,
  .youtube-description {
    margin: 5px;
    max-width: 250px;
    overflow: hidden;
  }
}

@media (max-width: 320px) {
  .youtube-share {
    display: none;
  }
}

.right-section {
  flex: 0 1 250px;
  padding: 15px;
}
@media (max-width: 1700px) {
  .right-section {
    display: none;
  }
}

.right-section .skeleton {
  margin-bottom: 0.5rem;
  max-width: 100%;
}

.right-section .skeleton:last-child {
  margin-bottom: 0;
}

.flex-col-gap {
  margin-top: 1rem;
}

.youtube-title {
  display: flex;
  align-items: left;
}

.youtube-description {
  background-color: #000;
  border-radius: 5px;
  border-color: #cfcbcb;
  border-width: 1px;
}

.youtube-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.video-info {
  display: flex;
  border-radius: 5px;
  padding-top: 1px;
  padding-bottom: 5px;
}

.youtube-title {
  font-size: 1.25rem;
  font-weight: bold;
  color: #fff;
}

.youtube-description {
  background-color: #000;
  border-radius: 5px;
  border: 1px solid #cfcbcb;
  color: #fff;
  padding: 0.5rem;
}

.card {
  background-color: #000;
  margin: 15px;
}

.card-body {
  justify-content: center;
  padding-top: 0px;
}

figure img {
  margin: 25px 25px 25px 25px;
  border-radius: 5%;
}
@media (max-width: 1024px) {
  figure img {
    width: 270px;
  }
}
@media (max-width: 320px) {
  figure img {
    width: 250px;
  }
}

h2 {
  justify-content: center;
}

.spotify-content {
  padding: 5px;
}

/*# sourceMappingURL=styles.css.map */
