/* Error: Undefined variable.
 *    ,
 * 29 |   background-image: linear-gradient(180deg, $mainGreenColor, $mainBrownColor);
 *    |                                             ^^^^^^^^^^^^^^^
 *    '
 *   src\styles\_base.scss 29:45  @import
 *   src\styles\index.scss 4:9    root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 29 \2502    background-image: linear-gradient(180deg, $mainGreenColor, $mainBrownColor);\d\a    \2502                                              ^^^^^^^^^^^^^^^\a    \2575 \a   src\\styles\\_base.scss 29:45  @import\a   src\\styles\\index.scss 4:9    root stylesheet";
}
